# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Google Drive\RODOLFO BORTOLUZZI\ESTUDOS\URI 1180 Lowest Number and Position\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
